/* SCSS document */
// font for the header KEEPY
@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada:400,700');
//fat font for other purpose type font-family: 'Secular One', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Secular+One');
//font for handwriting 
@import url('https://fonts.googleapis.com/css?family=Bubbler+One');

$hand_writing: 'Bubbler One', sans-serif;

// colors
$grey: #E8E8E8;
$white: #FAFAFA;
$greyline: #DDDD;
$blackish: #272727;
$yellow: #FFBB00;

//note colors
$bluish: #80D8FF;
$redish: #FF8A80;
$orangish: #FFD180;
$yellowish: #FFFF8D;
$greyish: #CFD8DC;
$greenish: #CCFF90;
$h: 200px;
$w: 300px;
$p: 20px;
$radius: 5px;

*{
    margin:0;
    padding: 0;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
body{
    background-color: $grey;
    a{
        color: black;
        text-decoration: none;
    }
}

.display_block{
    display: none;
}

#header{
    background-color: $yellow;
    width: 100%;
    //position: fixed;
    margin: 0;
    padding: 35px;
    color: black;
    height: 90px;
    font-family: 'Montserrat Subrayada', sans-serif;
    #big{
        font-weight: 700;
        font-size: 3em;
    }
    #to_the_right{
        float: right;
        font-family: 'Secular One', sans-serif;
    }
}
.container{
    background-color: $white;
    padding: 50px;
    @include border-radius($radius);
}

.bodystyle{
    margin-top: 90px;
}
.output{
    margin-top: 20px;
    margin-bottom: 50px;
}

.active{
    color: #765700;
    opacity: 0.2;
}
.input{
    margin-bottom: 10px;
}

.title{
    width: 100%;
}

.txt_style{
    background-color: #fff;
    @include border-radius($radius);
    padding: 10px;
    border-color: #DEDEDE;
    width: 100%;
}
form {
    margin-bottom: 10px;
}
.box1 {
	
	background: white ;
	margin-top:20px;
	margin-bottom:20;
	font-size:15px ;
	//height:$h;
	width: $w;
	padding:$p;


	}
	
.box2 {
	
	background: white ;
	margin-top:20px;
	margin-bottom:20;
	font-size:15px ;
	//height:$h;
	width: $w;
	padding:$p;


	}
	
	.box3 {
	
	background: white ;
	margin-top:20px;
	margin-bottom:20;
	font-size:15px ;
	//height:$h;
	width: $w;
	padding:$p;
	margin-right: 20px;
	margin-left:20px;
	}
	
	.down {
		text-align:left;
		font-size:1em;
}
		
 .content {
	  text-align: justify;
      text-justify: inter-word;
      padding-bottom:10px;
 }
 
 h2 {
	 font-family: 'Montserrat Subrayada', sans-serif;
	 }		
